<div class="container">
  <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle>
  <br> -->
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Kod prooduktu</mat-label>
      <input matInput placeholder="Zeskanuj kod produktu" value="">
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
      <mat-label>Kod prooduktu</mat-label>
      <textarea matInput placeholder="Zeskanuj kod produktu"></textarea>
    </mat-form-field>
  </form>
</div>

<h1>Angular Router App</h1>
<nav>
  <ul>
    <li><a routerLink="/scanner-component" routerLinkActive="active" ariaCurrentWhenActive="page">Scanner</a></li>
    <li><a routerLink="/camera-component" routerLinkActive="active" ariaCurrentWhenActive="page">Camera</a></li>
  </ul>
</nav>

<router-outlet />

